<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Création Utilisateur</h4>
                <div ng-model="alertCreationUser" ></div>

                <div>
                    <form name="myForm" novalidate>

                        <p>Nom :<br>
                            <input class="form-control" type="text" name="userName" ng-model="userName">
                        </p>

                        <p>Prenom :<br>
                            <input class="form-control" type="text" name="userSurname" ng-model="userSurname">
                        </p>

                        <p>Email :<br>
                            <input class="form-control" type="email" name="userEmail" ng-model="userEmail" required>
                            <span style="color:red" ng-show="myForm.userEmail.$dirty && myForm.userEmail.$invalid">
                            <span ng-show="myForm.userEmail.$error.email">Adresse non valide</span>
                            </span>
                        </p>

                        <p>Site(url) :<br>
                            <input class="form-control" type="url" name="userWebSite" ng-model="userWebSite" required>
                            <span style="color:red" ng-show="myForm.userWebSite.$dirty && myForm.userWebSite.$invalid">
                            <span ng-show="myForm.userWebSite.$error.url">Url non valide</span>
                            </span>
                        </p>

                    </form>


                    <button class="btn btn-success" href="" ng-click="creationUser(userName, userSurname,userEmail,userWebSite)" ng-model="modification" style="float: right">Ajouter</button>

                    <div ng-if="erreurUser == true">
                        <h3 style="color: red">Erreur</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <h4>Création Projet</h4>
                <div ng-model="alertCreationUser" ></div>

                <div>

                    <form name="myForm2">

                        <p>Titre :<br>
                            <input class="form-control" type="text" name="projectTitle" ng-model="projectTitle">
                        </p>

                        <p>Description :<br>
                            <input class="form-control" type="text" name="projectDescription" ng-model="projectDescription">
                        </p>

                        <p>Année de création :<br>
                            <input class="form-control" type="text" name="projectYear" ng-model="projectYear">
                        </p>

                    </form>

                    <button class="btn btn-success" href="" ng-click="creationProjet(projectTitle, projectDescription,projectYear)" ng-model="modification" style=" float: right">Ajouter</button>

                    <div ng-if="erreurProject == true">
                        <h3 style="color: red">Erreur</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



